<div class="layout">
  <app-navbar />

  <div class="layout2">
    <div class="content2">
      <div class="glass-card">
        <h2>Movie score quiz</h2>

        <p>A simple frontend app for guessing between 2 movies, which one has the higher viewer score on TMDB.</p>

        <h3>Features:</h3>
        <p>
          The app gets the movie data from different TMDB Apis chosen with a randomizer. The game process consists of
          getting 2 movies, player choosing one, checking if the chosen movie has the higher score and either continuing
          with new movies or ending the game and showing the gotten score. The app only has one route, and is
          completely
          build with using modals.
        </p>



        <h3>Techs:</h3>
        <p>Svelte, JavaScript</p>

        <h3>What I learned:</h3>
        <p>This is my first completed frontend app ever. Even though it doesn't have anything fancy and with the current
          skills I could make it 100 times better, it still turned out pretty well and I wanted to showcase it here. I
          learned much about everything releated to frontend development, such as Svelte, api usage, game logic and
          modals. I sometimes go back to check this app and every time I get amazed by how good I managed to make it
          :D.
        </p>

        <div class="links-container">
          <div class="links-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fxBB78nRBvk"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>

          <a href="https://github.com/LeeviKe/Movie-score-quiz" target="_blank">
            <div class="links-box">
              <div>
                <img src="github.png" alt="GitHub">
              </div>
            </div>
          </a>



        </div>
      </div>


    </div>
  </div>
</div>