<div class="layout">
  <app-navbar />

  <div class="layout2">
    <div class="content2">
      <div class="glass-card">
        <h2>Guess the flag</h2>

        <p>A simple frontend mobile app I made in the spring of 2025. In the game, the user is shown a random flag and
          they have limited time to try and choose the right one from 4 options.</p>

        <h3>Features:</h3>
        <p>This is a hybrid mobile app, made with Ionic. The game has different levels on time difficulty and flag
          regions that the player can alter for their liking.
          The code gets the flags form a public api and uses a randomizer for getting the flags for each round. Best
          scores for each game settings are being stored in the device with Ionic storage. Overall a simple mobile app
          with some decent game logic inside of it.
        </p>



        <h3>Techs:</h3>
        <p>Ionic, Angular, TypeScript.</p>

        <h3>What I learned:</h3>
        <p>This was my first complete mobile app project. I learned a lot about mobile app development, Ionic + storage,
          emulator usage and app packing into an apk. I also got to see how Angular can be used in a different way from
          the
          classic web development.
        </p>

        <div class="links-container">
          <div class="links-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pZnhUJRbZKM"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>

          <a href="https://github.com/LeeviKe/guessTheFlag" target="_blank">
            <div class="links-box">
              <div>
                <img src="github.png" alt="GitHub">
              </div>
            </div>
          </a>



        </div>
      </div>


    </div>
  </div>
</div>