<div class="layout">
  <app-navbar />

  <div class="layout2">
    <div class="content2">
      <div class="glass-card">
        <h2>To do list</h2>

        <p>A 4-man team project that we worked on for a one week. We built a really simple to-do-list -app, with
          multiple and modifiable boards and tasks.</p>

        <h3>Features:</h3>
        <p>The app has a MySQL database locally connected to backend and frontend. In the app, the user can make and
          delete boards and create and handle tasks inside them. Task's statuses can also be changed, and all this
          updates in the database.
        </p>



        <h3>Techs:</h3>
        <p>Svelte, SvelteKit, JavaScript, Node.js, Express, MySQL, Docker </p>

        <h3>My part:</h3>
        <p>I built the whole backend for this app, with Node.js and Express. This mostly included building the functions
          for using the SQL database and their counterpart api for the frontend usage. I also made all of the api usages
          in the frontend, in addition to the overall file structure (SvelteKit), so most of the technical side
          in this app is made by me.</p>

        <h3>What I learned:</h3>
        <p> In this project I got to do some basic Node.js backend, which I hadn't done a whole lot before. I also
          experimenter with SvelteKit for easier frontend routing, and it paid off. This was my first team software
          project so I also learned a lot about Git usage and developing something in a group.
        </p>

        <div class="links-container">


          <a href="https://github.com/LeeviKe/ToDoListDemoPilvi" target="_blank">
            <div class="links-box">
              <div>
                <img src="github.png" alt="GitHub">
              </div>
            </div>
          </a>



        </div>
      </div>


    </div>
  </div>
</div>