.navbar {
  position: fixed;
  inset: 0 0 auto 0;
  height: 80px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.header .menu {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  padding: 15px 0;
  font-weight: 800;
  font-size: medium;
  text-decoration: none;
  color: white;
}

.link .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: all 300ms;
}

.link:hover .bar {
  opacity: 1;
  bottom: 10px;
}
