<div class="layout">
  <div class="content">
    <h3>Contact:</h3>
    <div class="glass-card">
      <div class="contact-card">
        <p>Always interested in new possible projects! Best way to reach me is via Discord or Email.</p>
        <div class="contact-field"><span>Email:</span> <button (click)="copyEmail()">Copy email</button></div>
        <div class="contact-field"><span>Phone:</span> <button (click)="copyNumber()">Copy number</button></div>
        <div class="contact-field"><span>Discord:</span> leewii</div>
        <div class="contact-field"><span>LinkedIn:</span> <a
            href="https://www.linkedin.com/in/leevi-kes%C3%A4nen-870b57304/" target="_blank">Leevi Ke<div class="bar">
            </div></a></div>
        <div class="contact-field"><span>Location:</span> Jyväskylä, Finland</div>


      </div>
    </div>
  </div>
</div>