<div class="layout">
  <app-navbar />

  <div class="layout2">
    <div class="content2">
      <div class="glass-card">
        <div class="logo">
          <img src="synerraLogoBig.png" alt="Synerra">
        </div>

        <p>A 5-man group project that we developed over 5 months during the fall of 2025. It is a collaborative app for
          gamers to find other players to play with.</p>

        <h3>Features:</h3>
        <p>The app consists of a wide variety of features, all of which we designed and built ourselves for maximum
          challenge. The app includes a login system via Google account or email/password. It also has a live chat that
          users
          can use to communicate one-on-one or in groups. The app includes a full notification system for messages and
          friend
          requests. Additionally, it has a friend system between users, reactive online status mechanism and a large
          variety of games to find players
          from.
        </p>



        <h3>Techs</h3>
        <p>Angular, JavaScript, TypeScript, WebSockets, Jest, Cypress, Google OAuth 2.0, AWS (DynamoDB, Cognito,
          CloudFront,
          Serverless Framework), Git + GitHub Actions.</p>

        <h3>My role:</h3>
        <p> I focused on the technical side of the development, mainly on frontend,
          but I also helped on the backend. I played a key role in planning the app's overall infrastructure and
          folder structure. On the frontend, I majorly worked on the overall structure, live chat, login
          features, routing, guards and other safety releated topics, loading animation placements, connecting backend
          and frontend, unit testing and smaller quality
          of life improvements. On the backend, I worked on some of the logics releaded to the chat and Google
          login, and
          built some lambda functions. I also built a GitHub Actions workflow that runs tests and
          deploys the project to AWS CloudFront. Additionally, I worked as a Scrum master, planning sprints and
          organizing
          meetings with the team.</p>

        <h3>What I learned:</h3>
        <p>During this project I learned a lot. Some of the biggest things are developing and working in a team,
          using Scrum, Git usage, websockets, Google OAuth, testing and overall about everything that might appear
          while working on a slightly larger project. </p>

        <div class="links-container">
          <div class="links-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bGVswbAk05c"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>

          <a href="https://github.com/jamktiko/Synerra" target="_blank">
            <div class="links-box">
              <div>
                <img src="github.png" alt="GitHub">
              </div>
            </div>
          </a>

          <a href="https://leevike.github.io/synerraPortfolio/" target="_blank">
            <div class="links-box">
              <div>
                <p>See more detailed showcase (in Finnish)</p>
              </div>
            </div>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>